/*============ Whole Page ============*/
body {
  font-family: "Times New Roman", serif;
  font-size: 20px;
  height: 100%;
  background-image: url(../img/background-logo.png);
  background-repeat: repeat;
  background-attachment: fixed;
}

div.washout {
  background-color: rgba(255, 255, 255, .9);
}

div.big-box-shadow {
  box-shadow: 0 0 10px black;
  padding: 0;
}

.container-fluid {
  padding: 0;
}

.container {
  background-color: white;
}

.big-font {
  font-size: 1.5em;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Times New Roman", serif;
}

h2 {
  font-size: 40px;
}

p {
  padding: 0 20px;
}

.top-bottom-borders {
  border-top: 2px solid black;
  border-bottom: 2px solid black;
}

.text-shadow {
  text-shadow: 1px 1px 1px black;
}

.section-padding {
  padding: 50px 0;
}

.contact-big {
  font-size: 22px;
}

.contact-big a {
  color: black;
}

.contact-big a:hover {
  text-decoration: none;
}

hr {
  color: grey;
  width: 90%;
}

/*============ Navbar ============*/
div.washout {
  padding: 50px 0;
}

div.nav-container {
  padding: 0;
}

nav.navbar {
  background-color: #428B1A;
  border-bottom: 2px solid grey;
  font-family: "Times New Roman", serif; 
}

li.nav-item {
  margin-right: 10px;
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgb(255,255,255)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

a.nav-link {
  color: white;
  font-weight: 500;
  font-size: 20.5px;
  text-decoration: none;
  text-shadow: 1px 1px 1px black;
}

a.nav-link:hover {
  text-shadow: 1px 1px 5px black;
}

sup.copyright {
  font-size: 24px;
}

/*============ Header ============*/
div.header-container {
  padding: 0;
}

div.header {
  background-color: #FFF;
  background-image: url(../img/banner.jpeg);
  background-repeat: no-repeat;
  background-position: -10px center;
  border-bottom: 1px solid black;
  height: 500px;
}

div.header-index {
  background-image: url(../img/banner1.jpeg);
  background-position: left center;
  background-color: #FFF;
  background-repeat: no-repeat;
  border-bottom: 1px solid black;
  height: 500px;
}

div.header2 {
  background-color: grey;
  background-image: url(../img/speaking-in-action.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  border-bottom: 1px solid black;
  height: 500px;
}

div.header-packages {
  background-image: url(../img/packages/packages-preview.png);
  background-position: center center;
}

div.header-about {
  background-image: url(../img/banner1.jpeg);
  background-position: center center;
}

header {
  color: white;
  background-color: rgba(175, 175, 175, .8);
  height: 100%;
  width: 100%;
  padding: 150px 0;
}

header.speaking {
  color: white;
  background-color: rgba(150, 150, 150, .4);
  height: 100%;
  width: 100%;
  padding: 150px 0;
}

header h1, header h2 {
/*  color: black;*/
  font-size: 55px;
  text-shadow: 2px 2px 5px black;
}

header h2 {
  font-size: 40px;
  margin-top: 10px;
}

.header-box-center {
  width: 350px;
  margin: 40px auto;
  display: relative;
}

.header-box-one {
  float: left;
}

.header-box-two {
  float: right;
}

.header-box-center p {
  border: 2px solid #FFF;
  color: #FFF;
  text-shadow: 1px 1px 1px #000;
  display: inline-block;
  padding: 8px 35px;
  background-color: rgba(200, 200, 200, .4);
  box-shadow: 1px 1px 3px #000;
}

.header-box-center p:hover {
  box-shadow: 3px 3px 5px #000;
}

.header-box-center p:active {
  box-shadow: 1px 1px 3px #000;
}

/*============ Main Section ============*/

.sinister {
  margin-bottom: 0;
  font-size: 26px;
  padding: 0 20px;
}

div.evil-eyes-container {
  padding: 0;
  border: 1px solid white;
}

/*div.scrolling-text {
  padding-top: 30px;
}

p.scrolling-text2 {
  padding-top: 20px;
}*/

.evil-force {
  display: none;
}

.evil-eyes {
  height: 200px;
  background-image: url(../img/evil-eyes.png);
  background-position: center center;
  background-size: cover;
}

/*div.set-height {
  min-height: 225px;
}*/

.fixed {
  background-attachment: fixed;
}

.lt-grey-background {
  background-color: grey;
}

.hero-bg .contact {
  margin-top: 0;
  margin-bottom: 0;
}

img.pow {
  width: 95%;
  max-width: 300px;
  display: block;
  margin: 0 auto;
}

img.strengths-signal {
  width: 95%;
  max-width: 300px;
  display: block;
  margin: 0 auto 20px;
}

p.list-p {
  margin-bottom: 0;
}

img.homepage-strengths {
  max-width: 250px;
  display: block;
  margin: 0 auto;
}

/*.homepage-strengths-p {
  font-size: 20px;
}*/

ul.homepage-list {
    margin-left: 40px;
}

.margin-top-20px {
  margin-top: 20px;
}

.margin-bottom-60px {
  margin-bottom: 60px;
}

.margin-top-40px {
  margin-top: 40px;
}

.margin-top-60px {
  margin-top: 60px;
}

.margin-top-80px {
  margin-top: 80px;
}

.no-margin-bottom {
  margin-bottom: 0;
}

.padding-left-40px {
  padding-left: 40px;
}

/*============ Testimonials ============*/
div.testimonials-container {
  background-color: #F2F2F2;
  padding: 20px 25px 30px;
  font-style: italic;
}

div.testimonials-container h2 {
  padding-bottom: 40px;
  font-style: normal;
}

.testimonial-name {
  position: absolute;
  left: 0;
  right: 0;
}

span.name {
  font-weight: bold;
}

.side-padding {
  padding-left: 15px;
  padding-right: 15px;
}

.card {
  margin: 15px 0;
  height: 535px;
  box-shadow: 1px 1px 1px grey;
}

img.testimonial-img {
  display: block;
  margin: 0 auto 10px;
}


/*============ About ============*/
a.about-links {
  color: white;
  width: 100%;
  max-width: 275px !important;
  display: block;
  text-shadow: 1px 1px 3px black;
  font-weight: bold;
  margin: 0 auto 10px;
  font-size: 20px;
  border: 1px solid white;
  padding: 5px 0;
  background-color: rgba(200, 200, 200, .4);
  box-shadow: 1px 1px 3px black;
}

a.about-links:hover {
  text-decoration: none;
  box-shadow: 3px 3px 5px black;
}

a.about-links:active {
  text-decoration: none;
  box-shadow: 1px 1px 3px black;
}

div.donald-crews img {
  padding-left: 15px;
}

.img-center {
  display: block;
  margin: 0 auto;
}

.gallup-img {
  display: block;
  max-width: 300px;
  margin: 0 auto;
}

.gallup-img2 {
  width: 100%;
}

div.donald-crews .col-lg-7 {
  padding-right: 30px;
}

img.word-cloud {
  float: right;
  margin: 0 20px 10px 10px;
  width: 100%;
  max-width: 370px;
}

img.word-cloud {
  float: right;
  margin: 0 20px 10px 10px;
  width: 100%;
  max-width: 370px;
}

img.donald-img {
  float: left;
  width: 100%;
  max-width: 370px;
  margin: 10px 20px 10px 10px;
}

ul.donald-ul {
  padding-left: 425px;
}


/*============ Packages ============*/
div.packages-container {
  background-color: #F2F2F2;;
  padding: 40px 25px 50px;
}

.breathing-room {
  margin: 5px 0;
}

.packages-preview {
  display: block;
  margin: 0 auto;
}

.packages-link {
  display: block;
  width: 95%;
  max-width: 350px;
  margin: 20px auto;
  text-decoration: none;
  color: #428B1A;
  background-color: #FFF;
  border: 2px solid #428B1A;
  border-radius: 5px;
  padding: 12px 15px;
}

.packages-link:hover {
  text-decoration: none;
  background-color: #428B1A;
  color: #FFF;
  text-shadow: 1px 1px 2px #000;
  font-weight: normal;
}

div.packages-details div {
  padding: 0 25px;
}

div.packages-details ul {
  list-style-type: none;
  padding: 0 10px;
}

div.packages-details li {
  margin-top: 15px;
}


/*============ Speaking & Workshops ============*/
header.speaking {
  padding-top: 125px;
}

div.speaking-call-to-action {
  margin-top: 50px;
  text-align: center;
}

div.speaking-call-to-action p {
  display: inline-block;
  border: 1px solid black;
  padding: 5px 15px;
}


/*============ Blogs ============*/
h1.blog-h1 {
  margin-top: 50px;
}

div.feat-art-div {
  border-right: 1px solid black;
}

p.coming-soon {
  font-size: 26px;
  padding: 40px 0;
}


/*============ Contact ============*/
div.header-relative {
  position: relative;
}

div.banner-logo {
  width: 42%;
  height: 100%;
  position: absolute;
  background-color: transparent;
  right: 0;
  top: 0;
  text-align: center;
  z-index: 1;
}

div.banner-logo img {
  height: 100%;
}

header.z-index {
  position: relative;
  z-index: 2;
}

div.contact-form {
  padding-right: 35px;
}

form.contact-form {
  width: 100%;
  padding: 0 25px;
}

form.contact-form label {
  width: 100%;
}

form.contact-form input{
  width: 100%;
  padding-left: 10px;
}

form.contact-form .text-area {
  width: 100%;
  height: 100px;
}

form.contact-form .checkbox {
  width: 15px;
  margin-right: 10px;
  margin-top: 6px;
}

form.contact-form .checkbox-label {
  display:inline;
}

form.contact-form .submit {
  width: 100%;
  margin: 20px auto;
}


/*============ Footer ============*/
div.credit p {
  font-size: 10px;
  padding-right: 30px;
}

div.footer-contact {
  padding-left: 30px;
  font-size: 18px;
}

footer.container {
  background-color: #428B1A;
  border-top: 2px solid grey;
  width: 100%;
  max-width: 100%;
  padding: 0;
  margin: 0;
  overflow: hidden;
}

footer.container {
  padding: 10px 0;
}

footer a, footer p, footer i {
  color: white;
}

footer a:hover {
  color: white;
  text-decoration: none;
}

footer p {
  padding: 0;
  margin: 0;
}

footer ul {
  margin: 20px auto 0;
  padding: 0;
}

footer li {
  list-style-type: none;
  display: inline;
  margin-left: 15px;
}

@media screen and (max-width: 575px) {
  footer ul {
    margin: 0 auto;
  }

  div.contact-form {
    margin-top: 40px;
    padding-left: 35px;
  }
}

@media screen and (max-width: 620px) {
  div.header {
    background-position: 5% center;
  }

  div.header-packages {
    background-position: center center;
  }
}

@media screen and (max-width: 576px) {
  footer div.col-lg-4 {
    margin: 8px 0;
  }

  div.footer-contact {
    padding: 0;
  }

  div.credit p {
    padding: 0 5px;
  }

  img.word-cloud {
    float: none;
    margin: 10px auto;
  }
}

@media screen and (max-width: 560px) {
  div.header {
    background-position: 7% center;
  }

  div.header-packages {
    background-position: center center;
  }
}

@media screen and (max-width: 510px) {
  div.header {
    background-position: 9% center;
  }

  div.header-packages {
    background-position: center center;
  }

  div.header-index {
    background-position: 50% center;
  }

  div.header-index h1 {
    font-size: 40px;
  }

  div.header-index h2 {
    font-size: 36px;
  }
}

@media screen and (max-width: 450px) {
  div.header {
    background-position: 11% center;
  }

  div.header-packages {
    background-position: center center;
  }

  div.header-index h1 {
    font-size: 36px;
  }

  div.header-index h2 {
    font-size: 32px;
  }

  div.header-index header .header-box-center {
    text-align: center;
    width: 100%;
  }

  div.header-index header .header-box-one, div.header-index header .header-box-two {
    float: none;
    display: block;
    width: 50%;
    margin: 0 auto;
  }

  p.header-box {
    width: 100%;
  }

  header.speaking h1 {
    font-size: 40px;
  }

  header.speaking h2 {
    font-size: 32px;
  }
}

@media screen and (max-width: 410px) {
  p.contact-big {
    font-size: 18px;
  }
}

@media screen and (max-width: 400px) {
  div.header {
    background-position: 13% center;
  }

  div.header-packages {
    background-position: center center;
  }

  a.navbar-brand {
    font-size: 16px;
    padding-left: 0;
  }
}

@media screen and (max-width: 350px) {
  div.header {
    background-position: 15% center;
  }

  div.header-packages {
    background-position: center center;
  }

  ul.homepage-list {
    margin-left: 10px;
  }
}

/*@media screen and (min-width: 350px) {
  div.scrolling-text {
    padding-top: 50px;
  }

  p.scrolling-text2 {
    padding-top: 0px;
  }
}*/

@media screen and (max-width: 330px) {
  header {
    padding-top: 100px;
  }

  h2.what-is-strengthsfinder {
    font-size: 36px;
  }
}

@media screen and (max-width: 320px) {
  div.header {
    background-position: 17% center;
  }

  div.header-packages {
    background-position: center center;
  }

  div.header-contact h1 {
    font-size: 50px;
  }
}

/*@media screen and (min-width: 469px) {
  div.set-height {
    min-height: 175px;
  }
}*/

@media screen and (max-width: 768px) {
  div.feat-art-div {
    border-right: none;
    border-bottom: 1px solid black;
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 800px) {
  img.donald-img {
    max-width: 400px;
    float: none;
    margin: 10px auto;
  }

  ul.donald-ul {
    padding-left: 45px;
  }
}

@media screen and (max-width: 992px) {
  div.contact-page div.header {
    background-position: left center;
    width: 100%;
  }
}

@media screen and (min-width: 992px) {
  div.header-packages {
    background-position: 95% center;
  }

  header.header-relative div.banner-logo {
    display: none;
  }

  header h1.header-h1-packages {
    max-width: 50%;
  }

  header h2.header-h2-packages {
    max-width: 50%;
  }

  header h1.header-about {
    margin-left: 45%;
    max-width: 50%;  
  }

  header a.about-links {
    margin-left: 57%;
    max-width: 50%;    
  }
}

@media screen and (max-width: 1000px) {
  div.washout {
    padding: 0;
  }

  div.container {
    max-width: 100% !important;
    width: 100% !important;
  }

  div.big-box-shadow {
    overflow: hidden;
  }

  div.banner-logo {
    display: none;
  }
}

@media screen and (min-width: 1200px) {
  div.header-packages {
    background-position: 93% center;
  }
}

div.header-contact h1 {
  padding-top: 80px;
}