nav.navbar {
  background-color: green;
  border-bottom: 5px solid grey;
}

li.nav-item {
  margin-right: 10px;
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgb(255,255,255)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

a.nav-link {
  color: white;
  font-weight: 500;
  font-size: 1.2em;
  text-decoration: none;
  text-shadow: 1px 1px 1px black;
}

a.nav-link:hover {
  text-shadow: 1px 1px 5px black;
}


/*============ Header ============*/
div.example {
  background-image: url(../img/superhero.jpg);
  background-repeat: no-repeat;
  background-position: 35% 0;

}

header {
  padding: 70px 0;
  color: white;
  font-family: Bangers;
}

header h1, header h2 {
  font-size: 4em;
  text-shadow: 1px 1px 10px black;
}

header h2 {
  font-size: 2.2em;
  margin-top: 20px;
}

/*============ Main Section ============*/
.container-fluid {
  padding: 0;
}

.container {
  padding: 0;
}

.lt-grey-background {
  background-color: lightgrey;
}

.section-padding {
  padding: 50px 0;
}


.sinister {
  font-size: 1.5em;
  font-family: "Creepster";
  display: inline-block;
  border: 1px solid black;
  padding: 10px;
  box-shadow: 5px 5px 2px black;
}


section h2 {
  margin-bottom: 20px;
}

section img {
  margin-bottom: 20px;
}


/*============ Footer ============*/
.grey-background {
  background-color: grey;
}

footer {
  padding: 10px 0;
}

footer a, footer p, footer i {
  color: white;
}

footer a:hover {
  color: white;
  text-decoration: none;
}

footer p {
  padding: 0;
  margin: 0;
}

footer ul {
  margin: 20px auto 0;
  padding: 0;
}

footer li {
  list-style-type: none;
  display: inline;
  margin-left: 15px;
}

@media screen and (max-width: 575px) {
  footer ul {
    margin: 0 auto;
  }
}