/*============ Whole Page ============*/
body {
  font-family: "Times New Roman", serif;
}

.container-fluid {
  padding: 0;
}

.container {
  padding: 0;
}

.big-font {
  font-size: 1.5em;
}

p {
  padding: 0 20px;
}

.top-bottom-borders {
  border-top: 2px solid black;
  border-bottom: 2px solid black;
}

.text-shadow {
  text-shadow: 1px 1px 1px black;
}

.section-padding {
  padding: 50px 0;
}


/*============ Navbar ============*/
nav.navbar {
  background-color: green;
  border-bottom: 5px solid grey;
}

li.nav-item {
  margin-right: 10px;
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgb(255,255,255)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

a.nav-link {
  color: white;
  font-weight: 500;
  font-size: 1.2em;
  text-decoration: none;
  text-shadow: 1px 1px 1px black;
}

a.nav-link:hover {
  text-shadow: 1px 1px 5px black;
}


/*============ Header ============*/
div.header {
  background-image: url(../img/header-img.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  box-shadow: 0 1px 1px black;
}

header {
  padding: 70px 0;
  color: white;
}

header h1, header h2 {
  font-size: 4em;
  text-shadow: 1px 1px 10px black;
}

header h2 {
  font-size: 2.2em;
  margin-top: 20px;
}


/*============ Main Section ============*/
.sinister {
  font-size: 1.5em;
  padding: 0 20px;
}

.evil-eyes {
  height: 200px;
  background-image: url(../img/evil-eyes.png);
  background-position: center center;
  background-size: cover;
}

.fixed {
  background-attachment: fixed;
}

.lt-grey-background {
  background-color: grey;
}


.hero-bg .contact {
  margin-top: 0;
  margin-bottom: 0;
}

/*============ Testimonials ============*/
.side-padding {
  padding-left: 15px;
  padding-right: 15px;
}

.card {
  margin: 15px 0;
}

.sidekick {
  margin-left: 120px;
}


/*============ Speaking & Workshops ============*/
.breathing-room {
  margin: 20px 0;
}

ul {
  padding: 0 20px;
}


/*============ Footer ============*/
footer {
  background-color: green;
  border-top: 5px solid grey;
}

footer {
  padding: 10px 0;
}

footer a, footer p, footer i {
  color: white;
}

footer a:hover {
  color: white;
  text-decoration: none;
}

footer p {
  padding: 0;
  margin: 0;
}

footer ul {
  margin: 20px auto 0;
  padding: 0;
}

footer li {
  list-style-type: none;
  display: inline;
  margin-left: 15px;
}

@media screen and (max-width: 575px) {
  footer ul {
    margin: 0 auto;
  }
}